* {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
}

.contenedor {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #c0c0c0, #cfcfcf, #dfdfdf, #efefef, #ffffff);
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.fondoLogo {
    position: absolute;
    z-index: 0;
    width: 70%;
    height: 70%;
    object-fit: contain;
    opacity: 0.1;
}

header {
    height: 10%;
    width: 100%;
}

header i{
    padding: 0 2%;
}

nav {
    background-image: linear-gradient(to right top, #1c7cab, #16719f, #0f6793, #075d87, #00537b);
}

nav .navbar-brand {
    color: white;
    font-weight: bold;
    letter-spacing: 0.2rem;
    transition: background-color 0.3s,color 0.3s;
    padding: 0.5% 1%;
    border-radius: 15px;
}

nav .navbar-brand:hover {
    background-color: #448aad;
    color: black;
}

nav .navbar-nav .nav-item .nav-link {
    color: white;
    letter-spacing: 0.1rem;
    transition: color 0.3s;
}

nav .navbar-nav .nav-item .nav-link:hover {
    color: black;
}


nav .navbar-nav .nav-item {
    color: white;
    transition: background-color 0.3s;
    padding: 0.5% 1%;
    border-radius: 15px;
}

nav .navbar-nav .nav-item:hover {
    background-color: #448aad;
}

main {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

footer {
    height: 5%;
    width: 100%;
}

.buscador {
    width: 90%;
    height: 20%;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba(150, 150, 150, 0);
}


.buscador input {
    padding: 1%;
    width: 60%;
    height: 50%;
    margin: 1%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.buscador input:hover {
    border: 1px solid #16719f;
}

.buscador input:focus {
    border: 2px solid #16719f;
}

.tabla {
    width: 90%;
    height: 79%;
    margin-top: 1%;
    border: none;
    border-radius: 15px;
    padding: 1%;
    overflow-y: auto;
    /* Añadir scroll vertical */
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.5);
}

.tabla table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    /* Asegura que los bordes de las celdas no se separen */
}

.tabla thead {
    top: 0;
    background-color: #16719f;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.tabla thead i{
    padding: 0 3%;
}

.fila {
    background-color: #cfcfcf44;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.fila:hover {
    background-color: #0f679325;
}

.fila button {
    padding: 1% 3%;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.336);
    color: #16719f;
    transition: background-color 0.3s,color 0.3s;
    width: 60%;
}

.fila button i{
    padding: 0 3%;
}

.fila button:hover {
    background-color: #1c7cab;
    color: white;
}

.tabla td {
    padding: 1% 0 1% 0;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    font-weight: bolder;
}

.tabla th {
    padding: 1% 0 1% 0;
}