* {
    margin: 0;
    padding: 0;
}

.datosPaciente {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
    border-bottom: 2px solid #16719f;
}

.datosPaciente a{
    text-decoration: none;
}

.datosPaciente h2 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    transition: color 0.3s;
    color: #16719f;
}

.datosPaciente h2:hover {
    color: black;
}

.formulario {
    width: 60%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.336);
}

.formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario form .medicos,
.formulario form .fecha,
.formulario form .tipoEstudio,
.formulario form .files,
.formulario form .btn {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.formulario form .medicos label,
.formulario form .fecha label,
.formulario form .tipoEstudio label,
.formulario form .files label {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #16719f;
    font-size: 1.2rem;
}

.formulario form .medicos select,
.formulario form .fecha input,
.formulario form .tipoEstudio input,
.formulario form .files input {
    width: 60%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.705);
    padding: 1%;
    border: none;
    border-radius: 15px;
    color: black;
    font-style: oblique;
    outline: none;
}

.formulario form .medicos select:focus,
.formulario form .fecha input:focus,
.formulario form .tipoEstudio input:focus,
.formulario form .files input:focus {
    border: 2px solid #16719f;
}

.formulario form .medicos select:hover,
.formulario form .fecha input:hover,
.formulario form .tipoEstudio input:hover {
    border: 1px solid #16719f;
}

.formulario .btn button{
    width: 50%;
    height: 50%;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #16719f;
    transition: background-color 0.3s,color 0.3s;
}

.formulario .btn button i{
    padding: 0 3%;
}

.formulario .btn button:hover{
color: whitesmoke;
background-color: #16719f;
}