* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #c0c0c0, #cfcfcf, #dfdfdf, #efefef, #ffffff);
}

header {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inicioSesion {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inicioSesion form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inicioSesion form .usuario,
.inicioSesion form .password {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inicioSesion form .usuario input {
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 15px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
    transition: border 0.3s, opacity 0.3s;
    /* Solo se necesita border aquí */
    outline: none;
    font-style: oblique;
    font-size: 1rem;
}

.inicioSesion form .password input {
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 15px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
    transition: border 0.3s, opacity 0.3s;
    /* Solo se necesita border aquí */
    outline: none;
    font-style: oblique;
    font-size: 1rem;
}

.inicioSesion form .usuario input:hover,
.inicioSesion form .password input:hover {
    border: 1px solid #1C7CAB;
    /* Cambia el borde al pasar el ratón */
    opacity: 1;
}

.inicioSesion form .usuario input:focus,
.inicioSesion form .password input:focus {
    border: 2px solid #1C7CAB;
    /* Cambia el borde al pasar el ratón */
    opacity: 1;

}

.inicioSesion form .password #eye {
    font-size: 1.3rem;
    cursor: pointer;
    padding: 1%;
    width: 5%;
    height: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1C7CAB;
    transition: color 0.3s;
}

.inicioSesion form .password #eye:hover {
    color: #49b1e6;
}

.inicioSesion form .btn {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inicioSesion form .btn #log {
    width: 30%;
    height: 70%;
    padding: 1%;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: background-color 0.3s, color 0.3s;
    color: #1C7CAB;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.inicioSesion form .btn #log:hover {
    background-color: #1C7CAB;
    color: white;
}

/* TABLETS */
@media (max-width:800px) {

    .inicioSesion form .usuario input {
        width: 80%;
    }

    .inicioSesion form .password input {
        width: 70%;
    }

    .inicioSesion form .password #eye {
        width: 10%;
    }


    .inicioSesion form .btn #log {
        width: 80%;
    }

}

/* CELULARES */
@media (max-width:480px) {

    header {
        height: 50%;
    }


    .inicioSesion form .usuario input {
        width: 95%;
        font-size: 1rem;
    }

    .inicioSesion form .password input {
        width: 80%;
        font-size: 1rem;
    }

    .inicioSesion form .password #eye {
        width: 15%;
    }

    .inicioSesion form .btn #log {
        width: 95%;
        font-size: 1.2rem;
    }

}